/* Estilos dos elementos */


*{
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {

}

nav  {
    margin-top: 150px;
 

}

.Menu {

    width: auto;


}

ul {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 100%;
    background-color: rgba(7, 253, 253, 0.842);
    list-style: none;
    
    

}

li {


    margin-left: 75px;
    color: rgb(233, 240, 247);
 

}


main{

}

.especialidades{

}

.tratamentos{

}


.footer {
    background-color: #009688;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 50px;
    margin-bottom: 5px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.footer-item {
    text-align: center;
    margin: 10px;
    max-width: 250px;
}

.footer-item span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    background-color: #03403a;
}