/* Estilos dos elementos */


*{
    margin: 0;
    padding: 0  ;
}

header {

    height: 20px;

}
.principal{ /*Não mexam aqui!! estilização das divs do header*/
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.barra-superior { /*não mexam aqui!!  estilização da barra superior */
    background-color: rgb(18, 189, 189); 
    height: 25px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 10px; 
}
.barra-superior .ico{ /*Não mexam aqui!! estilização dos icones da barra superior */
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
    padding: 5px;
}

ul{
    align-content: center;
    align-items: center;

}

li{
    display: inline-block;
    margin: 0 20px 0 15px;
    color: white;
    font-weight: bold;
}
li a{
    color: white;
    text-decoration: none;
}

nav{

    height: 40px;
    }

.Menu{ /*Não mexam aqui!! estilização do menu*/
    display: flex;
    color: white;
    background-color: rgb(18, 179, 179);
    justify-content: center;
    padding: 15px;
}

.container {
    background: white;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largura fixa para o formulário */
    }
    input[type="text"], input[type="email"] {
    width: 100%;/* Largura total do campo */
    height: 50%; /* Largura total do campo */
    padding: 12px;
    margin: 1% ;
    border: none;
    border-radius: 0px;
    margin-bottom: 10px; /* Espaço abaixo do campo */
    }
    button {
    background-color: #2abdf7;
    color: white;
    padding: 20px 10%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 50px;
    margin-bottom: 5px;
    margin-right: 200px;
}

.footer-logo h2 {
    font-size: 1.5em;
    margin: 5px 0;
    margin-top: -53px;
}

.footer-logo p {
    font-size: 0.9em;
}

.footer-info {
    display: flex;
    gap: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item i {
    font-size: 1.5em;
}

.info-item h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

.info-item p {
    font-size: 0.9em;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    font-size: 0.8em;
    margin-top: 15px;
    color: #ddd;
}

